/.vscode
/1692693502516.jpg
/ABHIGONIGERCV.pdf
/ABHISHEK.B.GONIGER. CV.pdf
/AbhishekbasavarajgonigerCV (1).pdf
/AbhishekbasavarajgonigerCV.pdf
/ABHISHEKGONIGER_CV.pdf
/ABHISHEKGONIGER_CV1.pdf
/chromeremotedesktophost.msi
/desktop.ini
/Git-2.42.0.2-64-bit.exe
/GoogleDriveSetup.exe
/GrammarlyInstaller.c3le9Y20vptx87i6llc50902.exe
/index.html
/jdk-20_windows-x64_bin.exe
/mongodb-compass-1.40.2-win32-x64.exe
/node-v18.18.0-x64.msi
/preview_application.pdf
/Professional Abhishek Goniger CV .pdf
/SourceTreeSetup-3.4.15.exe
/Untitled video - Made with Clipchamp.mp4
/VSCodeUserSetup-x64-1.80.1.exe
/Yum.Si - Employment signed Terms and Conditions (4).pdf
/Yum.Si - Employment Terms and Conditions (4) Signed.pdf
/Yum.Si - Employment Terms and Conditions (4).pdf